### IntelliJ IDEA ###
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### OS ###
.DS_Store

### Build artifacts ###
*.class
*.jar
*.war
*.ear
target/
build/

### Logs ###
*.log
